html,
body {
  text-align: center;
  //墨色
  //background: #000A02;
  //呂色
  background: #0c0c0c;
  //黒橡
  //background: #322C28;
  padding: 0;
  margin: 0;
  font-family: 'Kiwi Maru', serif;
  /* font-family: 'Yomogi', cursive; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: 	#F4FBFE;
}

li {
  list-style: none;
}